@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.fixed-padding {
  padding-left: 10px;
  padding-right: 10px; }

.fixed-margin {
  margin-bottom: 20px; }

.form-input__sign-up {
  margin-top: 13%;
  position: absolute;
  width: 30%;
  margin-left: 30%;
  z-index: 999;
  background-color: #FAFAFA;
  padding: 15px;
  min-width: 270px;
  display: none;
  overflow-y: scroll;
  height: 500px; }

.form-input__sign-in {
  margin-top: 15%;
  position: absolute;
  width: 30%;
  margin-left: 30%;
  z-index: 998;
  background-color: #FAFAFA;
  padding: 15px;
  min-width: 235px;
  display: none;
  overflow: scroll; }

.form-control {
  margin-bottom: 10px; }

body {
  font-family: Roboto-Regular; }

/* ------------------NOTE:Header----------------- */
.header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #fff;
  z-index: 999; }

.icon-left, .icon-right {
  display: none;
  font-size: 26px;
  z-index: 999;
  cursor: pointer; }

.icon-left {
  float: left; }

.icon-right {
  float: right;
  margin-top: -40px; }

.group-search {
  border: 2px solid #F02222;
  height: 44px; }
  .group-search .dropdown_filter {
    border: none;
    height: 40px;
    width: 15%;
    padding: 0 10px;
    float: left; }
  .group-search .icon-filter {
    padding: 10px 7px 10px 15px;
    display: block; }

input[type=text] {
  height: 38px;
  width: 71%;
  padding: 6px 12px 6px 12px;
  border: none;
  border-left: 1px solid #808080; }

.btn-search {
  height: 40px;
  padding: 0;
  width: 13%;
  border: none;
  background-color: #F02222;
  color: #fff;
  font-size: 15px;
  float: right; }

.icon-user {
  font-size: 45px;
  color: #F02222;
  float: left;
  padding-right: 10px; }

.txt-user {
  float: left;
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative; }
  .txt-user .dropdown-user {
    position: absolute;
    width: 185px;
    height: 150px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #808080;
    display: none; }
    .txt-user .dropdown-user .dropdown {
      list-style-type: none;
      padding: 0; }
      .txt-user .dropdown-user .dropdown > li:nth-child(1) {
        padding: 5px 0;
        text-align: center;
        border-bottom: 1px solid #808080; }
      .txt-user .dropdown-user .dropdown > li:nth-child(2) {
        padding: 10px 0; }
        .txt-user .dropdown-user .dropdown > li:nth-child(2) span {
          font-size: 11px; }
        .txt-user .dropdown-user .dropdown > li:nth-child(2) > a {
          font-size: 14px; }

.nav-bar_responsive {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 1000px;
  padding: 0;
  border-right: 2px solid #E5E5E5;
  z-index: 999;
  overflow-y: visible;
  background-color: #fff; }
  .nav-bar_responsive > li {
    height: 50px;
    border-bottom: 2px solid #E5E5E5;
    padding: 5px 10px; }
    .nav-bar_responsive > li:nth-child(1) {
      background-color: #394562;
      height: 120px; }
      .nav-bar_responsive > li:nth-child(1) i {
        font-size: 40px;
        color: #fff; }
      .nav-bar_responsive > li:nth-child(1) h4 {
        color: #fff;
        cursor: pointer; }
        .nav-bar_responsive > li:nth-child(1) h4:hover {
          color: #337ab7; }
    .nav-bar_responsive > li:hover {
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .nav-bar_responsive > li a {
      font-size: 20px; }
      .nav-bar_responsive > li a img {
        max-width: 30px;
        padding-right: 5px; }

.responsive__parent-search {
  position: relative; }
  .responsive__parent-search .responsive__search {
    position: fixed;
    width: 100%;
    z-index: 998;
    top: 63px;
    right: 0;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #E8EAEE;
    padding: 5px 35px;
    font-size: 12px;
    display: none; }
  .responsive__parent-search .child-search {
    position: fixed;
    z-index: 998;
    color: #9B9B9B;
    font-size: 16px;
    left: 12px;
    top: 69px;
    display: none; }

.bg-fog {
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  position: fixed;
  visibility: hidden; }

/* ------------------NOTE:End Header----------------- */
/* ------------------NOTE:Nav-bar and Slider----------------- */
.bg__nav-bar {
  background-color: #2E314F;
  height: 50px;
  margin-top: 80px; }

.nav-bar {
  padding: 10px 0;
  position: relative; }
  .nav-bar h3 {
    color: #fff;
    margin: 0;
    width: 18%;
    border-right: 3px solid #fff; }
    .nav-bar h3 i {
      padding-right: 10px; }
  .nav-bar .menu__nav-bar {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    width: 220px;
    background-color: #FFFAE9;
    z-index: 997; }
    .nav-bar .menu__nav-bar > li {
      height: 45px;
      padding: 10px;
      border-bottom: 2px solid #F7F7F7; }
      .nav-bar .menu__nav-bar > li a {
        color: #000;
        font-size: 20px; }
      .nav-bar .menu__nav-bar > li:hover {
        background-color: #f8b93e;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
        .nav-bar .menu__nav-bar > li:hover a {
          color: #fff; }

.slider {
  height: 450px;
  background-color: #FFCD1D; }

/* ------------------NOTE:End Nav-bar and Slider----------------- */
/* ------------------NOTE:Product Safe ---------------------------*/
.icon__product-sale {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 40%;
  display: none; }
  .icon__product-sale > li {
    margin: 10px 0;
    padding: 3px; }
    .icon__product-sale > li i {
      font-size: 30px; }
      .icon__product-sale > li i:hover {
        color: blueviolet; }

.big-sales {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 30px; }
  .big-sales h3 {
    border-left: 4px solid #EF5350;
    text-transform: capitalize;
    color: #000;
    padding: 0 10px; }
    .big-sales h3:hover {
      color: blue; }
  .big-sales .box {
    position: relative;
    text-align: center; }
    .big-sales .box a {
      display: block;
      overflow: hidden; }
      .big-sales .box a img {
        width: 100%; }
        .big-sales .box a img:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
    .big-sales .box:hover .icon__product-sale {
      display: block !important;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }

/* ------------------NOTE:End Product Safe ---------------------------*/
/* ------------------NOTE:Product Travel ---------------------------*/
.bg__travel {
  background-color: #efefef;
  margin-bottom: 30px; }
  .bg__travel h3 {
    border-left: 4px solid #F6A623;
    text-transform: capitalize;
    color: #000;
    padding: 0 10px; }
  .bg__travel .box {
    position: relative;
    text-align: center; }
    .bg__travel .box a {
      display: block;
      overflow: hidden; }
      .bg__travel .box a img {
        width: 100%; }
        .bg__travel .box a img:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
    .bg__travel .box:hover .icon__product-sale {
      display: block !important;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }

/* ------------------NOTE:End Product Travel ---------------------------*/
/*-------------------NOTE:Product Fashion---------------------------*/
.bg_fashion {
  background-color: #FDE9EB;
  margin-bottom: 30px; }
  .bg_fashion h3 {
    border-left: 4px solid blue;
    text-transform: capitalize;
    color: #000;
    padding: 0 10px; }
  .bg_fashion .box {
    position: relative;
    text-align: center; }
    .bg_fashion .box a {
      display: block;
      overflow: hidden; }
      .bg_fashion .box a img {
        width: 100%; }
        .bg_fashion .box a img:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
    .bg_fashion .box:hover .icon__product-sale {
      display: block !important;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }

/*-------------------NOTE:End Product Fashion---------------------------*/
/*-------------------NOTE:PRoduct Food-------------------------*/
.bg__food {
  background-color: #efefef; }
  .bg__food h3 {
    border-left: 4px solid red;
    text-transform: capitalize;
    color: #000;
    padding: 0 10px; }
  .bg__food .box {
    position: relative;
    text-align: center; }
    .bg__food .box a {
      display: block;
      overflow: hidden; }
      .bg__food .box a img {
        width: 100%; }
        .bg__food .box a img:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
    .bg__food .box:hover .icon__product-sale {
      display: block !important;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }

footer {
  background-color: #F7F7F7; }
  footer .ads {
    background-color: #fff;
    padding-bottom: 20px;
    display: table;
    width: 100%; }
    footer .ads .abc img {
      float: left;
      padding-right: 15px; }
    footer .ads .abc .text h3, footer .ads .abc .text p {
      color: #898989 !important;
      border-left: none !important; }
    footer .ads article {
      margin: 0 10px; }
