body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.travel_product{
    border-radius:5px;
}
.travel_product img{
    max-width:100%;
    border-radius:10px;
}
.travel_product__name{
    font-size:22px;
}
.travel_product__price{
    color:red;
    font-size:22px;
}
hr{
    margin-top:0;
    margin-bottom:0;
}
.slider{
    background-color:none !important;
}
